/*trigger run #2*/

body {
  background-color: lightblue;
}

h1 {
  background-color: darkblue;
  color: white;
  text-align: center;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 12px;
  background-color: darkblue;
}

.rect-btn {
  padding: 12px 24px;
  background: #333;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  background-color: darkblue;
}

.rect-btn:hover {
  background-color: blue;
  color: white;
}

.three-sections {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-wrap: nowrap;
}

.section {
  background: white;
  padding: 20px;
  width: 30%;
  border: 1px solid #333;
  border-radius: 6px;
  box-sizing: border-box;
}

.section * {
  max-width: 100%;
}
